.about-programme {
  @media (min-width: 768px) {
    border-bottom: 1px solid #E6E6E6;
  }

  &__title {
    font-size: 3rem; /* 60/16 */
    line-height: 1.2;
    font-style: normal;
  }

  &__list {
    display: grid;
    row-gap: 20px;
    /* Устанавливает значение счётчика, равным 0 */
    counter-reset: feature;
    @media (min-width: 768px) {
      grid-template-columns:repeat(2, 34.75%);
      grid-template-rows: repeat(2, 1fr);
      grid-column-gap: 140px;
      grid-row-gap: 37px;
    }
    @media (min-width: 1440px) {
      grid-template-columns: repeat(4, 255px);
      grid-template-rows: repeat(1, 1fr);
      column-gap: 80px;
    }
  }

  &__item {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-basis: 100%;
    min-height: 60px;
    position: relative;
    padding-left: 80px;
    line-height: 1.425;
    @media (min-width: 768px) {
      display: block;
      min-height: 268px;
      padding-top: 112px;
      padding-bottom: 12px;
      padding-left: 0;
      &:after {
        /* Инкрементирует счётчик*/
        counter-increment: feature;
        /* Отображает текущее значение счётчика */
        content: counter(feature);
        position: absolute;
        top: -40px;
        right: 0;
        width: 136px;
        height: 280px;
        font-size: 280px;
        line-height: 280px;
        ont-family: Oswald, Tahoma, sans-serif;
        color: #f2f2f2;
        text-align: center;
        z-index: -2;
      }
    }
    @media (min-width: 1440px) {
      /*flex-basis: 25%;*/
    }

    &:before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 60px;
      height: 60px;
      background-color: $basic-green;
      @media (min-width: 768px) {
        width: 80px;
        height: 80px;
      }
    }

    &--first:before {
      background-image: url("../../img/icons/leaf-small.svg");
      background-repeat: no-repeat;
      background-position: 50% 50%;
    }

    &--second:before {
      background-image: url("../../img/icons/tube-small.svg");
      background-repeat: no-repeat;
      background-position: 50% 50%;
    }

    &--third:before {
      background-image: url("../../img/icons/eat-small.svg");
      background-repeat: no-repeat;
      background-position: 50% 50%;
    }

    &--fourth:before {
      background-image: url("../../img/icons/alarm-small.svg");
      background-repeat: no-repeat;
      background-position: 50% 50%;
    }
  }


  &__item-num {
    position: absolute;
    top: 0;
    right: 45%;
    font-size: 200px;
    line-height: 0.75;
    color: $basic-grey;
    z-index: -1;
    @media (min-width: 320px) and (max-width: 768px) {
      display: none;
    }
  }
}