.form-feedback {
  // .form-feedback__wrapper
  &__wrapper {
    @media (min-width: 768px) {
      padding: 0 2.25em;
    }
    @media (min-width: 1440px) {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      column-gap: 80px;
      row-gap: 70px;
      margin-bottom: 80px;
      padding: 0;
    }
  }

  // .form-feedback__info
  &__info {
    color: #000;
    margin-bottom: 40px;
  }

  // .form-feedback__title
  &__title {
    margin-top: 0;
    margin-bottom: 0.5em;
    font-size: 2.25rem; /* 36/16 */
    font-weight: 400;
    line-height: 2;
    color: #000000;
    @media (min-width: 768px) {
      font-size: 3.75rem; /* 60/16 */
    }
  }

  // .form-feedback__desc
  &__desc {
    font-size: 0.875rem; /* 14/16 */
    line-height: 1;
    @media (min-width: 768px) {
      font-size: 1.25rem; /* 20/16 */
    }
  }

  // .form-feedback__fieldset
  &__fieldset {
    margin: 0;
    padding: 0;
    border: 0;
  }

  // .form-feedback__parameters
  &__parameters {
    margin-bottom: 40px;
    @media (min-width: 1440px) {
      margin-bottom: 0;
    }
  }

  // .form-feedback__field
  &__field {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  // .form-feedback__label
  &__label {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-basis: 100%;
  }

  // .form-feedback__span
  &__span {
    white-space: nowrap;
    margin-right: 1em;
    text-transform: uppercase;
  }

  // .form-feedback__field-input
  &__field-input {
    display: inline-block;
    width: 100%;
    padding: 0.85em 1em;
    text-transform: uppercase;
    border: 1px solid $special-grey;

    &--email {
      background-image: url("../../img/icons/icon_email.svg");
      background-repeat: no-repeat;
      background-position: 97% 50%;
    }

    &--phone {
      background-image: url("../../img/icons/icon-phone.svg");
      background-repeat: no-repeat;
      background-position: 97.5% 50%;
    }
  }

  // .form-feedback__programme
  &__programme {
    margin-bottom: 40px;
    @media (min-width: 1440px) {
      margin-left: 0;
      margin-right: 0;
      margin-bottom: 0;
    }
  }

  // .form-feedback__contacts
  &__contacts {
    margin-bottom: 2.5rem; /* 40/16 */
    @media (min-width: 1440px) {
      grid-area: 2 / 1 / 3 / 3;
      margin-bottom: 0;
    }
  }

  // .form-feedback__legend
  &__legend {
    margin-bottom: 2.5rem; /* 40/16 */
    padding: 0 1.25rem; /* 20/16 */
    margin-left: -1.25rem;
    background-color: #fff;
    max-width: 70%;
  }

  &__list {
    display: grid;
    row-gap: 13px;
    @media (min-width: 768px) {
      row-gap: 20px;
    }
  }

  &__list-contacts {
    @media (min-width: 1440px) {
      grid-template-columns: repeat(2, 1fr);
      column-gap: 80px;
    }
  }

  // .form-feedback__message
  &__message {
    margin-bottom: 2.5rem; /* 40/16 */
    @media (min-width: 1440px) {
      grid-area: 3 / 1 / 4 / 3;
      margin-bottom: 0;
    }
  }

  &__textarea {
    width: 100%;
    max-width: 100%;
    height: 150px;
    padding: 0.75rem;
    margin: 8px 0 20px;
    box-sizing: border-box;
    border: 1px solid #e7e7e7;
    font-size: 1rem; /* 16/16 */
    line-height: 30px;
    text-transform: uppercase;
    color: #444444;
  }

  // .form-feedback__extra
  &__extra {
    margin-bottom: 2.5rem; /* 40/16 */
    @media (min-width: 1440px) {
      grid-area: 4 / 1 / 5 / 3;
      margin-bottom: 0;
    }
  }

  // .form-feedback__radio
  &__radio {
    text-transform: uppercase;
    @media (min-width: 768px) {
      padding: 1.25em;
      border: 1px solid #E7E7E7;
    }
    @media (min-width: 1440px) {
      padding-top: 38px;
      padding-bottom: 39px;
    }

    & input {
      &[type='radio'] + label::after {
        content: none;
      }

      &[type='radio']:checked + label::after {
        content: '';
      }
    }

    & label {
      position: relative;
      display: flex;
      align-items: center;
      justify-content: flex-start;
      margin-bottom: 1.5em;
      padding-left: 3em;

      &:last-child {
        margin-bottom: 0;
      }


      &::before,
      &::after {
        content: '';
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        display: inline-block;
      }

      &::before {
        top: 50%;
        transform: translateY(-50%);
        left: 0;
        width: 30px;
        height: 30px;
        border-radius: 50%;
        border: 1px solid $special-grey;
      }


      &::after {
        left: 9px;
        top: 50%;
        transform: translateY(-50%);
        border: 6px solid $basic-green;
        border-radius: 50%;
      }
    }
  }

  &__list-item {
    display: flex;
    align-items: center;
  }

  // .form-feedback__submit
  &__submit {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(2, 1fr);
    @media(min-width: 768px) {
      grid-template-columns: repeat(2, 1fr);
      grid-template-rows: 1fr;
      column-gap: 80px;
    }
    @media (min-width: 1440px) {
      grid-area: 5 / 1 / 6 / 3;
    }
  }

  // .form-feedback__btn
  &__btn {
    width: 100%;
    text-transform: uppercase;
  }

  // .form-feedback__note
  &__note {
    text-align: center;
    color: #000000;
    @media (min-width: 768px) {
      text-align: left;
    }
  }
}


.checkbox-col {
  display: grid;
  gap: 15px;
  text-transform: uppercase;
  @media (min-width: 768px) {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 30px;
  }
  @media (min-width: 1440px) {
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows:  1fr;
    grid-column-gap: 0px;
    grid-row-gap: 30px;
  }

  & input[type='checkbox']:checked + label:after {
    content: "";
  }

  & input[type='checkbox'] + label:after {
    content: none;
  }

  & label {
    position: relative;
    padding-left: 2.75em;
    display: inline-block;

    &:before,
    &:after {
      content: "";
      position: absolute;
      display: inline-block;
    }

    &:before {
      width: 30px;
      height: 30px;
      border: 1px solid $special-grey;
      left: 0;
      top: 50%;
      transform: translateY(-50%);
    }

    &:after {
      left: 12px;
      top: 2px;
      width: 8px;
      height: 14px;
      border: solid $basic-green;
      border-width: 0 2px 2px 0;
      transform: rotate(45deg);
    }
  }
}




